.cropper-main{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  user-select: none;
  position: relative;
}

.cropper-mask{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
}