@name:~"login";
.@{name}{
  width: 100%;
  height: 100%;
  background-image: url("/img/miku-02.jpg");
  // background: rgb(50,119,150);
  filter: grayscale(100%);
  transform-style: preserve-3d;
  perspective: 1100px;
  perspective-origin: 680px 0;
  user-select: none;
  &-screen{
    position: absolute;
    background-color: rgb(50,119,150);
    // height: ;
    width: 400px;
    height: 250px;
    transform: rotateY(-35deg) rotateX(5deg)  translateZ(215px);
  }
  &-password-input{
    font-size: 18px;
    padding: 4px 0.5em;
    outline: 0;
    border: 0;
    background-color: rgb(50,119,150);
    caret-color: rgb(133,235,239);

    
    
    &-caret{
      background-color: rgb(133,235,239);
    }
    &-text{
      height: calc(2em - 8px);
      width: 1em;
    }
  }
}
